body{
  font-family: monospace;
  font-size: 12px;
}

.character{

}

.character .head{
  padding-left: 7px;
}

.character .bottom{
  padding-left: 3px;
}

.controls{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.click-area{
  position: absolute;
  cursor: pointer;
}

#game-levels #island{
  margin: 15% auto 0;
  width: 50%;
}

.popup,
.flash#saved,
#stats #seashells,
#stats #oysters{
  display: none;
}

.flash{
  color: #AAAAAA;
}

.flash#saved{
  float: left;
  margin: 4px 10px 0 0;
}

.popup{
  position: fixed;
}

.popup#load-game{

}

.seller#fish{
  display: none;
  cursor: pointer;
}
