body{
  font-family: monospace;
  font-size: 12px;
}

.character{

}

.character .head{
  padding-left: 7px;
}

.character .bottom{
  padding-left: 3px;
}

.controls{
  position: absolute;
  bottom: 20px;
  right: 20px;
}
