body{
  font-family: monospace;
  font-size: 12px;
}

.character{

}

.character .head{
  padding-left: 7px;
}

.character .bottom{
  padding-left: 3px;
}

.controls{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.click-area{
  position: absolute;
  cursor: pointer;
}

#game-levels #island{
  margin: 15% auto 0;
  width: 50%;
}

#stats{
  height: 12px;
}

.popup,
.flash#saved,
#stats #seashells,
#stats #oysters,
#stats #woods,
#stats #open-inventory-button,
.message-in-a-bottle,
.seller#fish{
  display: none;
}

#stats span#seashells,
#stats span#oysters,
#stats span#woods,
#stats span#inventory{
  float: left;
}

#stats span{
  padding: 3px 8px;
}

#stats span span{
  padding: 3px 0;
}

span#inventory{
  margin-left: 10px;
}

.flash{
  color: #AAAAAA;
}

.flash#saved{
  float: left;
  margin: 4px 10px 0 0;
}

.popup{
  position: fixed;
  background-color: #ffffff;
}

.popup,
.popup#inventory-popup,
.popup#message-in-a-bottle-popup{
  width: 1000px;
  top: 200px;
  left: 50%;
  margin-left: -500px;
  height: 500px;
}

.popup#map-popup{
  z-index: 2;
}

.popup#load-game{

}

.message-in-a-bottle,
.seller#fish{
  cursor: pointer;
}

#inventory-stash{
  margin-bottom: 10px;
}

.sell-items li,
#inventory-stash a{
  cursor: pointer;
}

.sell-items{
  padding-left: 13px;
}

.sell-items li.disabled{
  cursor: default;
  color: #AAAAAA;
}
