<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="main">
      <%= require('html-loader!./main.html') %>
      <%= require('html-loader!./battle.html') %>
    </div>
    <div class="hidden">
      <!-- GRAPHICS -->
      <%= require('html-loader!./graphics/island.html') %>
      <%= require('html-loader!./graphics/island_underwater.html') %>
      <!-- MODALS -->
      <%= require('html-loader!./modals/shell.html') %>
      <%= require('html-loader!./modals/fish_seller.html') %>
      <%= require('html-loader!./modals/fish_buy_seller.html') %>
      <%= require('html-loader!./modals/message_in_bottle.html') %>
      <%= require('html-loader!./modals/inventory.html') %>
      <% if (htmlWebpackPlugin.options.environment == 'development') { %>
        <div id="dev_mode_enabled"></div>
      <% } %>
    </div>
  </body>
</html>
