<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <%= require('html-loader!./main.html') %>
    <%= require('html-loader!./controls.html') %>
    <div class="hidden">
      <!-- GRAPHICS -->
      <%= require('html-loader!./graphics/island.html') %>
      <!-- MODALS -->
      <%= require('html-loader!./modals/shell.html') %>
      <%= require('html-loader!./modals/fish_seller.html') %>
      <%= require('html-loader!./modals/fish_buy_seller.html') %>
      <%= require('html-loader!./modals/message_in_bottle.html') %>
      <%= require('html-loader!./modals/inventory.html') %>
      <% if (htmlWebpackPlugin.options.environment == 'development') { %>
        <div class='reset' id="dev_mode_enabled"></div>
      <% } %>
    </div>
  </body>
</html>
